@charset "UTF-8";
* {
    margin: 0px;
    padding: 0px;
}
html {
    font: 1em Arial, Helvetica, sans-serif;
}
header {
    background-color: lightcoral;    /*mudança de tela.css*/
}
header > h1 {
    text-align: center;
}
menu ul{
    list-style-type: none;
}
menu li {
    display: inline-block;
    background-color: darkgrey;
    color: white;
    font: bold;
    padding: 10px;
}
article {
    width: 600px;
    display: block;
    margin: auto;
}