@charset "UTF-8";
* {
    padding: 0px;
    margin: 0px;
}
body {
    background-color: rgb(233, 233, 233);
    min-height: 100vh;
}
header {
    background: black;
    color: white;
    padding: 50px 0px;
    text-align: center;
}
header > h1 {
    color: white;
    font: bold 6vw 'Verdana', sans-serif; /*4em*/
    padding: 10px 0px;
}
header > p > a {
    text-decoration: none;
    color: white;
    font: bold 1em 'Arial', sans-serif;
}
header > p > a:hover {
    text-decoration: underline;
    color: white;
}
main {
    max-width: 1000px;
    background: white;
    margin: auto;
    padding: 10px 10px;
}
section.poema {
    padding: 3vh 3vh; /*1vh =5px tela inteira*/
    font: italic bold 2.2vw 'Sciracha', cursive; /*1.3em*/
    line-height: 7vh;
}
section#img01 > p {
    color: white;
    background-color: black;
    /*padding: 10px; margin: 10px;*/
    display: inline-block;
    height: 80%;
    padding: 2%;
}
section#img01 {
    background: url(imagens/background001.jpg) center center/auto no-repeat fixed;
    margin: 10px -10px;
    height: 70vh;
}
section#img02 > p { 
    color: white;
    background-color: #0000006e;
    display: inline-block;
    margin: 10px -10px;
    height: 80%;
}
section#img02 {
    background: url(imagens/background002.jpg) center center/auto no-repeat fixed;
    margin: 10px -10px;
    height: 70vh;
}
footer {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 10px;
    text-align: center;
}